body {
    margin-top: 30px;
    margin-left: 125px;
    margin-right: 125px;
    padding: 0;
    font-family: "Mulish", sans-serif;
    min-height: 3840px;
    width: 1110px;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-between;
}

.contact-text {
    margin-top: 110px;
    width: 445px;
    max-width: 100%;
}

form {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    max-width: 291px;
    min-height: 475px;
}

.btn {
    background-color: #4A4FF2;
    color: #FFFFFF;
    width: 125px;
    height: 50px;
}

.contact-img {
    margin-top: 120px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 114px;
}