body {
  margin-top: 30px;
  margin-left: 125px;
  margin-right: 125px;
  padding: 0;
  font-family: "Mulish", sans-serif;
  min-height: 3840px;
  width: 1110px;
  max-width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-text {
  width: 635px;
  max-width: 100%;
  min-height: 22px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.details-text1 {
  margin-top: 20px;
}

.details-text2 {
  margin-top: 20px;
  font-style: bold;
}

.project-img {
  margin-top: 60px;
}

.img-text {
  margin-top: 45px;
}

.project-grid {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 31.5% 30px 31.5% 30px 31.5%;
  grid-template-columns: 31.5% 31.5% 31.5%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 114px;
}